In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
# import matplotlib.fontmanager as fm
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('population.csv')
df

,date,region,number_of_households,population_sum,population_male,population_female,population_18over_sum,population_18over_male,population_18over_female,population_65over_sum,population_65over_male,population_65over_female,통,반,area,composition_ratio
0,2023-01,대연1동,9290,15787,7993,7794,14775,7486,7289,3677,1577,2100,31,175,1,4
1,2023-01,대연3동,16199,33022,16168,16854,28032,13566,14466,4456,1933,2523,33,302,4,14
2,2023-01,대연4동,5420,11991,5848,6143,10369,5012,5357,3015,1284,1731,20,153,1,4
3,2023-01,대연5동,8354,16807,8050,8757,14908,7052,7856,3661,1593,2068,18,112,1,4
4,2023-01,대연6동,5833,14929,7161,7768,12043,5717,6326,2446,1077,1369,16,108,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,2023-12,우암동,5730,12281,6006,6275,11208,5419,5789,4040,1740,2300,29,219,1,5
200,2023-12,문현1동,4835,10993,5405,5588,9786,4751,5035,2845,1206,1639,19,129,1,3
201,2023-12,문현2동,4881,7916,3961,3955,7372,3668,3704,2126,907,1219,16,102,1,2
202,2023-12,문현3동,7053,16395,7963,8432,14210,6847,7363,3565,1517,2048,23,155,1,3
203,2023-12,문현4동,4344,8880,4308,4572,8151,3933,4218,2489,1044,1445,17,126,1,3

In [3]:
# 세대 수 평균
data = df.number_of_households.mean().round(2)
data

6967.25

In [4]:
# 'region' 컬럼
df['region']

KeyError: 'region'

In [ ]:
# 월 별 합계(남구 전체)
df.groupby(df.date).sum()

In [ ]:
# 세대 수 총합
df['number_of_households'].sum()

1421318

In [ ]:
df_copy = df

In [ ]:
del df_copy['  반  ']
del df_copy['  통  ']
del df_copy['area']
del df_copy['composition_ratio']
df_copy.head()

,date,region,number_of_households,population_sum,population_male,population_female,population_18over_sum,population_18over_male,population_18over_female,population_65over_sum,population_65over_male,population_65over_female
0,2023-01,대연1동,9290,15787,7993,7794,14775,7486,7289,3677,1577,2100
1,2023-01,대연3동,16199,33022,16168,16854,28032,13566,14466,4456,1933,2523
2,2023-01,대연4동,5420,11991,5848,6143,10369,5012,5357,3015,1284,1731
3,2023-01,대연5동,8354,16807,8050,8757,14908,7052,7856,3661,1593,2068
4,2023-01,대연6동,5833,14929,7161,7768,12043,5717,6326,2446,1077,1369

In [ ]:
# 세대 수부터 65세 이상 여성 인구까지 합계
df_sum = df_copy.sum()
df_sum['number_of_households' : 'population_65over_female']

number_of_households        1421318
population_sum              3065264
population_male             1494728
population_female           1570536
population_18over_sum       2680907
population_18over_male      1297318
population_18over_female    1383589
population_65over_sum        696584
population_65over_male       301606
population_65over_female     394978
dtype: object

In [ ]:
# 2023-01 데이터만 따로 보기
df_copy[df_copy.date.str.contains('2023-01')]

,date,region,number_of_households,population_sum,population_male,population_female,population_18over_sum,population_18over_male,population_18over_female,population_65over_sum,population_65over_male,population_65over_female
0,2023-01,대연1동,9290,15787,7993,7794,14775,7486,7289,3677,1577,2100
1,2023-01,대연3동,16199,33022,16168,16854,28032,13566,14466,4456,1933,2523
2,2023-01,대연4동,5420,11991,5848,6143,10369,5012,5357,3015,1284,1731
3,2023-01,대연5동,8354,16807,8050,8757,14908,7052,7856,3661,1593,2068
4,2023-01,대연6동,5833,14929,7161,7768,12043,5717,6326,2446,1077,1369
5,2023-01,용호1동,16997,43020,20600,22420,36255,17197,19058,8729,3821,4908
6,2023-01,용호2동,7180,17602,8578,9024,14778,7134,7644,3861,1757,2104
7,2023-01,용호3동,5602,11661,5624,6037,10665,5119,5546,3584,1540,2044
8,2023-01,용호4동,3759,8122,3891,4231,7258,3442,3816,2157,923,1234
9,2023-01,용 당 동,3469,8020,4055,3965,7043,3557,3486,1820,831,989
10,2023-01,감만1동,4887,10427,5333,5094,9372,4786,4586,2861,1290,1571
11,2023-01,감만2동,3340,6693,3276,3417,6121,2979,3142,2141,880,1261
12,2023-01,우암동,5807,12638,6194,6444,11481,5579,5902,3942,1705,2237
13,2023-01,문현1동,5198,11873,5821,6052,10525,5096,5429,2880,1222,1658
14,2023-01,문현2동,4997,8194,4072,4122,7621,3768,3853,2138,907,1231
15,2023-01,문현3동,7130,16729,8133,8596,14458,6979,7479,3434,1458,1976
16,2023-01,문현4동,4206,8675,4219,4456,7965,3853,4112,2387,1003,1384

In [ ]:
df_copy[df_copy.date.str.contains('2023-01')]['number_of_households'].mean().round(2)

6921.65

In [ ]:
df_copy[df_copy.date.str.contains('2023-02')]

,date,region,number_of_households,population_sum,population_male,population_female,population_18over_sum,population_18over_male,population_18over_female,population_65over_sum,population_65over_male,population_65over_female
17,2023-02,대연1동,9419,15873,8045,7828,14877,7549,7328,3678,1571,2107
18,2023-02,대연3동,16446,33185,16265,16920,28239,13686,14553,4469,1941,2528
19,2023-02,대연4동,5426,11952,5813,6139,10347,4987,5360,3024,1281,1743
20,2023-02,대연5동,8392,16807,8052,8755,14915,7052,7863,3667,1597,2070
21,2023-02,대연6동,5835,14871,7134,7737,12005,5703,6302,2462,1082,1380
22,2023-02,용호1동,17015,43012,20611,22401,36256,17199,19057,8767,3833,4934
23,2023-02,용호2동,7556,18386,8940,9446,15423,7423,8000,3986,1812,2174
24,2023-02,용호3동,5567,11536,5567,5969,10575,5078,5497,3573,1535,2038
25,2023-02,용호4동,3734,8015,3848,4167,7180,3410,3770,2151,922,1229
26,2023-02,용 당 동,3462,8007,4037,3970,7027,3541,3486,1821,832,989
27,2023-02,감만1동,4791,10198,5214,4984,9176,4687,4489,2804,1263,1541
28,2023-02,감만2동,3355,6685,3279,3406,6126,2987,3139,2173,892,1281
29,2023-02,우암동,5798,12600,6173,6427,11446,5557,5889,3961,1713,2248
30,2023-02,문현1동,5074,11619,5697,5922,10294,4981,5313,2818,1198,1620
31,2023-02,문현2동,4956,8129,4040,4089,7567,3744,3823,2133,905,1228
32,2023-02,문현3동,7128,16714,8122,8592,14450,6975,7475,3460,1469,1991
33,2023-02,문현4동,4255,8782,4271,4511,8053,3891,4162,2399,1007,1392

In [ ]:
df_copy[df_copy.date.str.contains('2023-02')]['number_of_households'].mean().round(2)

6953.47

In [ ]:
df_copy[df_copy.date.str.contains('2023-03')]

,date,region,number_of_households,population_sum,population_male,population_female,population_18over_sum,population_18over_male,population_18over_female,population_65over_sum,population_65over_male,population_65over_female
34,2023-03,대연1동,9482,15905,8061,7844,14911,7564,7347,3699,1578,2121
35,2023-03,대연3동,16583,33312,16338,16974,28402,13780,14622,4496,1949,2547
36,2023-03,대연4동,5434,11945,5811,6134,10332,4984,5348,3037,1289,1748
37,2023-03,대연5동,8403,16779,8040,8739,14901,7045,7856,3673,1596,2077
38,2023-03,대연6동,5822,14856,7137,7719,11990,5703,6287,2483,1090,1393
39,2023-03,용호1동,17018,42904,20539,22365,36197,17164,19033,8797,3841,4956
40,2023-03,용호2동,7759,18760,9112,9648,15765,7587,8178,4061,1849,2212
41,2023-03,용호3동,5558,11493,5556,5937,10543,5072,5471,3582,1542,2040
42,2023-03,용호4동,3725,7975,3817,4158,7141,3378,3763,2164,926,1238
43,2023-03,용 당 동,3459,7963,4028,3935,6989,3531,3458,1830,840,990
44,2023-03,감만1동,4684,9986,5105,4881,8989,4592,4397,2739,1231,1508
45,2023-03,감만2동,3347,6676,3269,3407,6119,2976,3143,2180,894,1286
46,2023-03,우암동,5807,12590,6165,6425,11439,5552,5887,3984,1726,2258
47,2023-03,문현1동,5022,11503,5640,5863,10197,4935,5262,2818,1200,1618
48,2023-03,문현2동,4948,8106,4028,4078,7553,3735,3818,2138,907,1231
49,2023-03,문현3동,7112,16691,8102,8589,14419,6957,7462,3465,1471,1994
50,2023-03,문현4동,4299,8888,4323,4565,8144,3935,4209,2412,1014,1398

In [ ]:
df_copy[df_copy.date.str.contains('2023-03')]['number_of_households'].mean().round(2)

6968.35

In [ ]:
df_copy[df_copy.date.str.contains('2023-04')]

,date,region,number_of_households,population_sum,population_male,population_female,population_18over_sum,population_18over_male,population_18over_female,population_65over_sum,population_65over_male,population_65over_female
51,2023-04,대연1동,9466,15834,8017,7817,14853,7526,7327,3717,1584,2133
52,2023-04,대연3동,16603,33303,16331,16972,28400,13778,14622,4526,1957,2569
53,2023-04,대연4동,5423,11916,5800,6116,10306,4975,5331,3048,1291,1757
54,2023-04,대연5동,8420,16805,8061,8744,14922,7058,7864,3684,1603,2081
55,2023-04,대연6동,5850,14879,7138,7741,12006,5701,6305,2491,1092,1399
56,2023-04,용호1동,17029,42904,20535,22369,36213,17164,19049,8831,3862,4969
57,2023-04,용호2동,7882,19008,9221,9787,15992,7691,8301,4121,1877,2244
58,2023-04,용호3동,5553,11463,5543,5920,10530,5066,5464,3589,1549,2040
59,2023-04,용호4동,3709,7908,3790,4118,7090,3361,3729,2145,917,1228
60,2023-04,용 당 동,3471,7986,4035,3951,7004,3535,3469,1840,845,995
61,2023-04,감만1동,4598,9836,5023,4813,8839,4511,4328,2671,1198,1473
62,2023-04,감만2동,3347,6666,3261,3405,6117,2974,3143,2198,905,1293
63,2023-04,우암동,5812,12576,6160,6416,11434,5546,5888,3993,1729,2264
64,2023-04,문현1동,4991,11435,5610,5825,10145,4912,5233,2816,1196,1620
65,2023-04,문현2동,4942,8090,4016,4074,7541,3726,3815,2123,901,1222
66,2023-04,문현3동,7122,16700,8106,8594,14416,6952,7464,3475,1475,2000
67,2023-04,문현4동,4338,8948,4351,4597,8200,3959,4241,2426,1020,1406

In [ ]:
df_copy[df_copy.date.str.contains('2023-04')]['number_of_households'].mean().round(2)

6973.88

In [ ]:
df_copy[df_copy.date.str.contains('2023-05')]

,date,region,number_of_households,population_sum,population_male,population_female,population_18over_sum,population_18over_male,population_18over_female,population_65over_sum,population_65over_male,population_65over_female
68,2023-05,대연1동,9480,15819,8006,7813,14854,7524,7330,3724,1587,2137
69,2023-05,대연3동,16638,33354,16350,17004,28434,13793,14641,4537,1963,2574
70,2023-05,대연4동,5423,11902,5794,6108,10303,4974,5329,3064,1299,1765
71,2023-05,대연5동,8436,16806,8063,8743,14936,7068,7868,3695,1608,2087
72,2023-05,대연6동,5885,14906,7145,7761,12024,5705,6319,2496,1095,1401
73,2023-05,용호1동,17068,42926,20561,22365,36245,17194,19051,8859,3876,4983
74,2023-05,용호2동,7960,19173,9296,9877,16141,7763,8378,4147,1887,2260
75,2023-05,용호3동,5553,11434,5522,5912,10512,5049,5463,3621,1557,2064
76,2023-05,용호4동,3694,7874,3766,4108,7059,3341,3718,2143,912,1231
77,2023-05,용 당 동,3488,7989,4036,3953,7009,3534,3475,1859,851,1008
78,2023-05,감만1동,4549,9760,4976,4784,8747,4456,4291,2640,1185,1455
79,2023-05,감만2동,3338,6616,3243,3373,6081,2965,3116,2205,909,1296
80,2023-05,우암동,5811,12551,6147,6404,11413,5536,5877,4011,1738,2273
81,2023-05,문현1동,4944,11333,5551,5782,10055,4863,5192,2799,1188,1611
82,2023-05,문현2동,4937,8049,3997,4052,7505,3709,3796,2123,894,1229
83,2023-05,문현3동,7115,16667,8090,8577,14388,6937,7451,3493,1486,2007
84,2023-05,문현4동,4367,8974,4366,4608,8229,3975,4254,2440,1029,1411

In [ ]:
df_copy[df_copy.date.str.contains('2023-05')]['number_of_households'].mean().round(2)

6981.53

In [ ]:
df_copy[df_copy.date.str.contains('2023-06')]

,date,region,number_of_households,population_sum,population_male,population_female,population_18over_sum,population_18over_male,population_18over_female,population_65over_sum,population_65over_male,population_65over_female
85,2023-06,대연1동,9435,15709,7945,7764,14752,7471,7281,3716,1583,2133
86,2023-06,대연3동,16648,33296,16320,16976,28387,13761,14626,4540,1963,2577
87,2023-06,대연4동,5420,11877,5770,6107,10274,4951,5323,3070,1300,1770
88,2023-06,대연5동,8446,16801,8065,8736,14932,7074,7858,3690,1606,2084
89,2023-06,대연6동,5900,14917,7151,7766,12042,5710,6332,2511,1101,1410
90,2023-06,용호1동,17095,42980,20580,22400,36287,17208,19079,8879,3883,4996
91,2023-06,용호2동,8042,19333,9359,9974,16287,7825,8462,4200,1911,2289
92,2023-06,용호3동,5583,11476,5549,5927,10554,5074,5480,3638,1563,2075
93,2023-06,용호4동,3686,7854,3754,4100,7042,3332,3710,2145,909,1236
94,2023-06,용 당 동,3484,7960,4017,3943,6988,3522,3466,1868,852,1016
95,2023-06,감만1동,4493,9637,4921,4716,8644,4411,4233,2599,1171,1428
96,2023-06,감만2동,3332,6596,3238,3358,6065,2961,3104,2207,914,1293
97,2023-06,우암동,5804,12523,6138,6385,11392,5529,5863,4016,1744,2272
98,2023-06,문현1동,4909,11243,5512,5731,9987,4833,5154,2796,1182,1614
99,2023-06,문현2동,4911,7995,3976,4019,7458,3688,3770,2120,894,1226
100,2023-06,문현3동,7108,16607,8065,8542,14346,6923,7423,3502,1487,2015
101,2023-06,문현4동,4377,8982,4364,4618,8242,3978,4264,2446,1030,1416

In [ ]:
df_copy[df_copy.date.str.contains('2023-06')]['number_of_households'].mean().round(2)

6980.76

In [ ]:
df_copy[df_copy.date.str.contains('2023-07')]

,date,region,number_of_households,population_sum,population_male,population_female,population_18over_sum,population_18over_male,population_18over_female,population_65over_sum,population_65over_male,population_65over_female
102,2023-07,대연1동,9430,15677,7948,7729,14732,7479,7253,3734,1595,2139
103,2023-07,대연3동,16655,33229,16286,16943,28343,13740,14603,4540,1974,2566
104,2023-07,대연4동,5412,11848,5751,6097,10244,4936,5308,3063,1294,1769
105,2023-07,대연5동,8439,16770,8027,8743,14899,7038,7861,3694,1602,2092
106,2023-07,대연6동,5898,14899,7142,7757,12026,5702,6324,2522,1104,1418
107,2023-07,용호1동,17126,42990,20587,22403,36310,17223,19087,8910,3894,5016
108,2023-07,용호2동,8069,19409,9398,10011,16361,7860,8501,4221,1913,2308
109,2023-07,용호3동,5587,11478,5555,5923,10557,5082,5475,3645,1566,2079
110,2023-07,용호4동,3680,7833,3738,4095,7026,3322,3704,2150,908,1242
111,2023-07,용 당 동,3494,7951,4015,3936,6987,3521,3466,1871,855,1016
112,2023-07,감만1동,4449,9543,4879,4664,8556,4370,4186,2590,1170,1420
113,2023-07,감만2동,3327,6584,3235,3349,6052,2958,3094,2220,917,1303
114,2023-07,우암동,5806,12489,6115,6374,11365,5510,5855,4022,1744,2278
115,2023-07,문현1동,4893,11191,5488,5703,9945,4814,5131,2807,1188,1619
116,2023-07,문현2동,4903,7978,3971,4007,7442,3681,3761,2117,895,1222
117,2023-07,문현3동,7085,16534,8026,8508,14298,6891,7407,3519,1491,2028
118,2023-07,문현4동,4388,8989,4357,4632,8249,3972,4277,2460,1034,1426

In [ ]:
df_copy[df_copy.date.str.contains('2023-07')]['number_of_households'].mean().round(2)

6978.88

In [ ]:
df_copy[df_copy.date.str.contains('2023-08')]

,date,region,number_of_households,population_sum,population_male,population_female,population_18over_sum,population_18over_male,population_18over_female,population_65over_sum,population_65over_male,population_65over_female
119,2023-08,대연1동,9455,15652,7943,7709,14722,7481,7241,3739,1603,2136
120,2023-08,대연3동,16711,33253,16295,16958,28371,13750,14621,4552,1981,2571
121,2023-08,대연4동,5407,11854,5746,6108,10255,4939,5316,3076,1300,1776
122,2023-08,대연5동,8461,16756,8032,8724,14907,7053,7854,3719,1608,2111
123,2023-08,대연6동,5883,14880,7142,7738,12006,5699,6307,2518,1107,1411
124,2023-08,용호1동,17146,43009,20587,22422,36329,17220,19109,8945,3917,5028
125,2023-08,용호2동,8083,19479,9437,10042,16426,7895,8531,4255,1929,2326
126,2023-08,용호3동,5592,11433,5517,5916,10525,5053,5472,3662,1569,2093
127,2023-08,용호4동,3677,7815,3732,4083,7018,3322,3696,2156,909,1247
128,2023-08,용 당 동,3499,7932,4007,3925,6973,3518,3455,1882,860,1022
129,2023-08,감만1동,4371,9394,4803,4591,8424,4303,4121,2554,1153,1401
130,2023-08,감만2동,3330,6590,3232,3358,6058,2958,3100,2239,921,1318
131,2023-08,우암동,5796,12460,6100,6360,11346,5496,5850,4023,1744,2279
132,2023-08,문현1동,4876,11151,5471,5680,9914,4798,5116,2805,1185,1620
133,2023-08,문현2동,4894,7959,3958,4001,7416,3664,3752,2112,892,1220
134,2023-08,문현3동,7074,16496,8002,8494,14281,6882,7399,3528,1493,2035
135,2023-08,문현4동,4386,8982,4358,4624,8244,3974,4270,2469,1031,1438

In [ ]:
df_copy[df_copy.date.str.contains('2023-08')]['number_of_households'].mean().round(2)

6978.88

In [ ]:
df_copy[df_copy.date.str.contains('2023-09')]

,date,region,number_of_households,population_sum,population_male,population_female,population_18over_sum,population_18over_male,population_18over_female,population_65over_sum,population_65over_male,population_65over_female
136,2023-09,대연1동,9420,15598,7915,7683,14679,7459,7220,3748,1604,2144
137,2023-09,대연3동,16681,33184,16259,16925,28314,13720,14594,4570,1988,2582
138,2023-09,대연4동,5411,11866,5744,6122,10260,4931,5329,3096,1304,1792
139,2023-09,대연5동,8459,16720,8012,8708,14876,7031,7845,3727,1612,2115
140,2023-09,대연6동,5876,14871,7134,7737,12010,5701,6309,2525,1107,1418
141,2023-09,용호1동,17137,42947,20555,22392,36294,17196,19098,8977,3925,5052
142,2023-09,용호2동,8110,19519,9454,10065,16463,7908,8555,4275,1935,2340
143,2023-09,용호3동,5595,11411,5505,5906,10516,5045,5471,3669,1576,2093
144,2023-09,용호4동,3678,7809,3723,4086,7009,3316,3693,2164,911,1253
145,2023-09,용 당 동,3501,7925,4000,3925,6979,3516,3463,1895,865,1030
146,2023-09,감만1동,4301,9282,4753,4529,8317,4255,4062,2524,1144,1380
147,2023-09,감만2동,3324,6582,3233,3349,6059,2962,3097,2252,928,1324
148,2023-09,우암동,5789,12417,6078,6339,11321,5482,5839,4032,1745,2287
149,2023-09,문현1동,4863,11116,5461,5655,9888,4791,5097,2818,1196,1622
150,2023-09,문현2동,4880,7926,3954,3972,7388,3663,3725,2109,892,1217
151,2023-09,문현3동,7064,16458,7984,8474,14254,6870,7384,3532,1494,2038
152,2023-09,문현4동,4381,8968,4341,4627,8232,3961,4271,2471,1030,1441

In [ ]:
df_copy[df_copy.date.str.contains('2023-09')]['number_of_households'].mean().round(2)

6968.82

In [ ]:
df_copy[df_copy.date.str.contains('2023-10')]

,date,region,number_of_households,population_sum,population_male,population_female,population_18over_sum,population_18over_male,population_18over_female,population_65over_sum,population_65over_male,population_65over_female
153,2023-10,대연1동,9332,15466,7858,7608,14556,7410,7146,3745,1604,2141
154,2023-10,대연3동,16631,33092,16209,16883,28231,13672,14559,4582,1992,2590
155,2023-10,대연4동,5721,12582,6099,6483,10822,5209,5613,3173,1338,1835
156,2023-10,대연5동,8451,16675,7983,8692,14847,7010,7837,3728,1602,2126
157,2023-10,대연6동,5855,14804,7104,7700,11953,5673,6280,2543,1116,1427
158,2023-10,용호1동,17126,42931,20535,22396,36298,17188,19110,9023,3941,5082
159,2023-10,용호2동,8121,19514,9452,10062,16469,7906,8563,4304,1945,2359
160,2023-10,용호3동,5569,11381,5492,5889,10487,5031,5456,3683,1587,2096
161,2023-10,용호4동,3672,7787,3711,4076,6999,3312,3687,2173,910,1263
162,2023-10,용 당 동,3487,7890,3990,3900,6958,3507,3451,1898,867,1031
163,2023-10,감만1동,4190,9070,4641,4429,8124,4151,3973,2473,1129,1344
164,2023-10,감만2동,3327,6552,3214,3338,6041,2946,3095,2265,931,1334
165,2023-10,우암동,5751,12346,6042,6304,11264,5457,5807,4022,1737,2285
166,2023-10,문현1동,4857,11088,5454,5634,9862,4785,5077,2830,1204,1626
167,2023-10,문현2동,4875,7905,3942,3963,7376,3657,3719,2119,899,1220
168,2023-10,문현3동,7056,16440,7978,8462,14252,6868,7384,3552,1505,2047
169,2023-10,문현4동,4369,8932,4327,4605,8201,3947,4254,2478,1038,1440

In [ ]:
df_copy[df_copy.date.str.contains('2023-10')]['number_of_households'].mean().round(2)

6964.12

In [ ]:
df_copy[df_copy.date.str.contains('2023-11')]

,date,region,number_of_households,population_sum,population_male,population_female,population_18over_sum,population_18over_male,population_18over_female,population_65over_sum,population_65over_male,population_65over_female
170,2023-11,대연1동,9292,15384,7798,7586,14488,7358,7130,3744,1601,2143
171,2023-11,대연3동,16595,33021,16177,16844,28175,13643,14532,4600,2001,2599
172,2023-11,대연4동,6010,13211,6409,6802,11352,5468,5884,3271,1379,1892
173,2023-11,대연5동,8451,16643,7963,8680,14821,6994,7827,3723,1597,2126
174,2023-11,대연6동,5848,14778,7097,7681,11952,5679,6273,2538,1113,1425
175,2023-11,용호1동,17138,42917,20539,22378,36309,17204,19105,9069,3960,5109
176,2023-11,용호2동,8138,19526,9450,10076,16487,7909,8578,4310,1950,2360
177,2023-11,용호3동,5557,11330,5458,5872,10443,4997,5446,3695,1585,2110
178,2023-11,용호4동,3677,7768,3714,4054,6994,3320,3674,2181,914,1267
179,2023-11,용 당 동,3490,7883,3981,3902,6957,3501,3456,1910,875,1035
180,2023-11,감만1동,4100,8892,4553,4339,7968,4075,3893,2418,1114,1304
181,2023-11,감만2동,3328,6535,3209,3326,6024,2938,3086,2266,930,1336
182,2023-11,우암동,5736,12314,6023,6291,11244,5443,5801,4034,1738,2296
183,2023-11,문현1동,4856,11055,5440,5615,9838,4779,5059,2841,1207,1634
184,2023-11,문현2동,4870,7895,3942,3953,7361,3654,3707,2115,899,1216
185,2023-11,문현3동,7055,16416,7966,8450,14227,6851,7376,3558,1511,2047
186,2023-11,문현4동,4354,8901,4316,4585,8169,3936,4233,2478,1038,1440

In [ ]:
df_copy[df_copy.date.str.contains('2023-11')]['number_of_households'].mean().round(2)

6970.29

In [ ]:
df_copy[df_copy.date.str.contains('2023-12')]

,date,region,number_of_households,population_sum,population_male,population_female,population_18over_sum,population_18over_male,population_18over_female,population_65over_sum,population_65over_male,population_65over_female
187,2023-12,대연1동,9255,15323,7751,7572,14428,7312,7116,3758,1602,2156
188,2023-12,대연3동,16531,32941,16141,16800,28107,13599,14508,4620,2002,2618
189,2023-12,대연4동,6141,13475,6530,6945,11588,5580,6008,3319,1398,1921
190,2023-12,대연5동,8477,16637,7948,8689,14838,6994,7844,3737,1607,2130
191,2023-12,대연6동,5838,14746,7082,7664,11925,5667,6258,2542,1117,1425
192,2023-12,용호1동,17146,42915,20524,22391,36316,17189,19127,9132,3984,5148
193,2023-12,용호2동,8149,19540,9461,10079,16518,7929,8589,4337,1963,2374
194,2023-12,용호3동,5539,11270,5425,5845,10400,4970,5430,3690,1586,2104
195,2023-12,용호4동,3677,7755,3711,4044,6982,3315,3667,2198,916,1282
196,2023-12,용 당 동,3485,7867,3974,3893,6946,3498,3448,1908,878,1030
197,2023-12,감만1동,4016,8713,4452,4261,7808,3987,3821,2372,1093,1279
198,2023-12,감만2동,3330,6538,3209,3329,6031,2937,3094,2275,932,1343
199,2023-12,우암동,5730,12281,6006,6275,11208,5419,5789,4040,1740,2300
200,2023-12,문현1동,4835,10993,5405,5588,9786,4751,5035,2845,1206,1639
201,2023-12,문현2동,4881,7916,3961,3955,7372,3668,3704,2126,907,1219
202,2023-12,문현3동,7053,16395,7963,8432,14210,6847,7363,3565,1517,2048
203,2023-12,문현4동,4344,8880,4308,4572,8151,3933,4218,2489,1044,1445

In [ ]:
df_copy[df_copy.date.str.contains('2023-12')]['number_of_households'].mean().round(2)

6966.29

In [ ]:
df_copy[df_copy.date.str.contains('2023-01')]['population_sum'].mean().round(2)

15070.0

In [ ]:
df_copy[df_copy.date.str.contains('2023-02')]['population_sum'].mean().round(2)

15080.65

In [ ]:
df_copy[df_copy.date.str.contains('2023-03')]['population_sum'].mean().round(2)

15078.35

In [ ]:
df_copy[df_copy.date.str.contains('2023-04')]['population_sum'].mean().round(2)

15073.94

In [ ]:
df_copy[df_copy.date.str.contains('2023-05')]['population_sum'].mean().round(2)

15066.65

In [ ]:
df_copy[df_copy.date.str.contains('2023-06')]['population_sum'].mean().round(2)

15046.24

In [ ]:
df_copy[df_copy.date.str.contains('2023-07')]['population_sum'].mean().round(2)

15023.06

In [ ]:
df_copy[df_copy.date.str.contains('2023-08')]['population_sum'].mean().round(2)

15005.59

In [ ]:
df_copy[df_copy.date.str.contains('2023-09')]['population_sum'].mean().round(2)

14976.41

In [ ]:
df_copy[df_copy.date.str.contains('2023-10')]['population_sum'].mean().round(2)

14967.94

In [ ]:
df_copy[df_copy.date.str.contains('2023-11')]['population_sum'].mean().round(2)

14968.76

In [ ]:
df_copy[df_copy.date.str.contains('2023-12')]['population_sum'].mean().round(2)

14952.06

In [ ]:
df_copy[df_copy.date.str.contains('2023-01')]['population_18over_sum'].mean().round(2)

13157.0

In [ ]:
df_copy[df_copy.date.str.contains('2023-02')]['population_18over_sum'].mean().round(2)

13173.88

In [ ]:
df_copy[df_copy.date.str.contains('2023-03')]['population_18over_sum'].mean().round(2)

13178.29

In [ ]:
df_copy[df_copy.date.str.contains('2023-04')]['population_18over_sum'].mean().round(2)

13176.94

In [ ]:
df_copy[df_copy.date.str.contains('2023-05')]['population_18over_sum'].mean().round(2)

13172.65

In [ ]:
df_copy[df_copy.date.str.contains('2023-06')]['population_18over_sum'].mean().round(2)

13157.59

In [ ]:
df_copy[df_copy.date.str.contains('2023-07')]['population_18over_sum'].mean().round(2)

13140.71

In [ ]:
df_copy[df_copy.date.str.contains('2023-08')]['population_18over_sum'].mean().round(2)

13130.29

In [ ]:
df_copy[df_copy.date.str.contains('2023-09')]['population_18over_sum'].mean().round(2)

13109.35

In [ ]:
df_copy[df_copy.date.str.contains('2023-10')]['population_18over_sum'].mean().round(2)

13102.35

In [ ]:
df_copy[df_copy.date.str.contains('2023-11')]['population_18over_sum'].mean().round(2)

13106.41

In [ ]:
df_copy[df_copy.date.str.contains('2023-12')]['population_18over_sum'].mean().round(2)

13094.94

In [ ]:
df_copy[df_copy.date.str.contains('2023-01')]['population_65over_sum'].mean().round(2)

3364.06

In [ ]:
df_copy[df_copy.date.str.contains('2023-02')]['population_65over_sum'].mean().round(2)

3373.29

In [ ]:
df_copy[df_copy.date.str.contains('2023-03')]['population_65over_sum'].mean().round(2)

3385.76

In [ ]:
df_copy[df_copy.date.str.contains('2023-04')]['population_65over_sum'].mean().round(2)

3393.76

In [ ]:
df_copy[df_copy.date.str.contains('2023-05')]['population_65over_sum'].mean().round(2)

3403.29

In [ ]:
df_copy[df_copy.date.str.contains('2023-06')]['population_65over_sum'].mean().round(2)

3408.41

In [ ]:
df_copy[df_copy.date.str.contains('2023-07')]['population_65over_sum'].mean().round(2)

3416.76

In [ ]:
df_copy[df_copy.date.str.contains('2023-08')]['population_65over_sum'].mean().round(2)

3425.53

In [ ]:
df_copy[df_copy.date.str.contains('2023-09')]['population_65over_sum'].mean().round(2)

3434.35

In [ ]:
df_copy[df_copy.date.str.contains('2023-10')]['population_65over_sum'].mean().round(2)

3446.53

In [ ]:
df_copy[df_copy.date.str.contains('2023-11')]['population_65over_sum'].mean().round(2)

3455.94

In [ ]:
df_copy[df_copy.date.str.contains('2023-12')]['population_65over_sum'].mean().round(2)

3467.82

In [ ]:
del_df = df_copy.drop(df_copy.columns[:2], axis=1)
del_df.head()

,population_sum,population_male,population_female,population_18over_sum,population_18over_male,population_18over_female,population_65over_sum,population_65over_male,population_65over_female
0,15787,7993,7794,14775,7486,7289,3677,1577,2100
1,33022,16168,16854,28032,13566,14466,4456,1933,2523
2,11991,5848,6143,10369,5012,5357,3015,1284,1731
3,16807,8050,8757,14908,7052,7856,3661,1593,2068
4,14929,7161,7768,12043,5717,6326,2446,1077,1369

In [ ]:
del_df_avg = pd.DataFrame(del_df.mean())
del_df_avg

                                     0
population_sum            15025.803922
population_male            7327.098039
population_female          7698.705882
population_18over_sum     13141.700980
population_18over_male     6359.401961
population_18over_female   6782.299020
population_65over_sum      3414.627451
population_65over_male     1478.460784
population_65over_female   1936.166667

In [ ]:
df_1dong = pd.DataFrame(df_copy[df_copy.region.str.contains('대연1동')]['population_sum'])
df_1dong

     population_sum
0             15787
17            15873
34            15905
51            15834
68            15819
85            15709
102           15677
119           15652
136           15598
153           15466
170           15384
187           15323

In [ ]:
df_copy[df_copy.region.str.contains('대연1동')]['population_sum'].mean().round(2)

15668.92